# Chapter 1

> TOPIC : Rules for python 

1. alphabet can be in uppercase or lowercase
2. digits(0 to 9).
3. underscore symbol (_).
4. cash=10 (valid)
5. Ca$h=10  (invaid)
6. k10h (identifier could not start with number)
7. identifiers are case sensitive.
8. we cannot use reserved keywords as identifier (eg: True,def)
9. there is no lenght in python identifier but not recommanded to use too lengthy identifier
10. identifier starts wth underscore (_) then it is private (eg: _a=10)
11. if identifier starts with duble underscore (_ _) then indicted it is strongly private identifier 
(eg: __a=20)
12. if identifier starts or ends with double uderscore then it is language defined special name it is also called magic methods 
(eg: __add__)

> TOPIC : Data types 

1. text type :str
2. Numeric type: int ,float,complex
3. squence type : list, range,tuple

4. Set type: set , frozenset

5. mapping type:diet

6. boolean type: bool 

7. binary type: bytes, bytearray

# For loop

In [2]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [2]:
for i in range(3,10):
    print(i,end=" ")

3 4 5 6 7 8 9

In [3]:
for i in range(3,12,7):
    print(i,end=" ")

3 10

In [4]:
x='''This is my home
i want to live in a home
this is python
'''
x

'This is my home\ni want to live in a home\nthis is python\n'

In [5]:
print(x)

This is my home
i want to live in a home
this is python

In [6]:
# hello
a= 10
print(a)

10

In [7]:
x=1
y=356223
z=-36522
print(type(x))
print(type(x))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [8]:
x=36e3
print(x)

36000.0

In [9]:
#decimal
x=1111
print(x)
# binary
y=0b1111
print(y)
#octal
z=0O1111
print(z)
# hexadecimal
a=0x1111
print(a)

1111
15
585
4369

# base conversion
bin()

In [10]:
bin(15)

'0b1111'

In [11]:
bin(0o11)

'0b1001'

In [12]:
bin(0x11)

'0b10001'

oct()

In [13]:
oct(8)

'0o10'

In [14]:
oct(0b11)

'0o3'

In [15]:
oct(0x12)

'0o22'

hex()

In [16]:
hex(0b11)

'0x3'

In [17]:
hex(0o12)

'0xa'

In [18]:
hex(23)

'0x17'


# sequence type : list,tuple,range

In [19]:
list1=["apple","banana","cherry"]
print(list1)
list2=['apple',1,2,True,False]
print(list2)

print(type(list1))
print(type(list2))
list1[0]="strawberry"
print(list1)

['apple', 'banana', 'cherry']
['apple', 1, 2, True, False]
<class 'list'>
<class 'list'>
['strawberry', 'banana', 'cherry']

In [20]:
print(True)

True

In [21]:
a=1,2,3,4
print(type(a))

<class 'tuple'>

In [22]:
a,b,c,d=1,2,3,4
print(type(a))

<class 'int'>

In [23]:
list1=("apple","banana","cherry")
print(list1)
list2=('apple',1,2,True,False)
print(list2)

print(type(list1))
print(type(list2))
list1[0]="strawberry"
print(list1)

('apple', 'banana', 'cherry')
('apple', 1, 2, True, False)
<class 'tuple'>
<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [24]:
d={10:"hello",10:"myself",30:"sanket"}
print(d[10])
print(d[10])
print(d[30])

myself
myself
sanket

# set type

In [25]:
x={1,2,2,2,3,4,5,6,7,8,9}
print(x)
y={"apple","banana","apple","banana"}
print(y)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{'banana', 'apple'}

In [26]:
x=[1,2,2,2,3,4,5,6,7,8,9]
print(x)
y=["apple","banana","apple","banana"]
Z=frozenset(y)
Z[0]="my"
print(y)

[1, 2, 2, 2, 3, 4, 5, 6, 7, 8, 9]

TypeError: 'frozenset' object does not support item assignment

# Boolean type

In [27]:
print(bool(0))
print(bool(1))
print(bool("apple"))
print(bool(""))
print(bool(20>8))
print(bool(20<8))
print(bool(20==8))

False
True
True
False
True
False
False

In [28]:
x=7
y=str(x)
z=float(x)
print(x)
print(type(y))
print(z)

7
<class 'str'>
7.0

In [29]:
a,b,c,d=2
print(d)

TypeError: cannot unpack non-iterable int object

In [30]:
a=b=c=d=2
print(a)

2

In [31]:
chr(97)+'b'

'ab'

In [32]:
ord('a')+25

122

In [33]:
a=10
b="20"
print(a*b)
b=a==10?40:30
    print(b)

SyntaxError: invalid syntax (<ipython-input-33-8e46d666487a>, line 4)

In [34]:
a="pyhton"
def test():
    global a
    a="java"
    print(a)
test()
print(a)

java
java

# Reading value from user

In [4]:
x=input("Enter data :")
print(x)

Enter data :5
5

In [36]:
print(x)

5

In [3]:
print(i)

9

# class 2

In [2]:
 x=int(input("enter the first number"))
y=int(input("enter the second number"))
 z=x+y
print(z)

enter the first number2
enter the second number3
5

# type casting

# 1.int

In [11]:
int(123.987)

123

In [4]:
int(True)

1

In [6]:
int(False)

0

In [7]:
int("10")

10

In [13]:
int(10.5)

10

In [10]:
int(0b1111)

15

2. float

In [14]:
float(10)

10.0

In [16]:
float(True)

1.0

In [17]:
float(False)

0.0

In [18]:
float("10")

10.0

In [19]:
float('10.5')

10.5

In [22]:
float(0b1111)

15.0

3.bool()

In [31]:
bool(0)
bool(1)
bool(10.5)
bool(0.178)
bool(0.0)
bool("True")

True

4.str()

In [32]:
str(10)

'10'

In [33]:
str(10.5)

'10.5'

In [34]:
str(True)

'True'

In [4]:
 a=(input("enter the first number"))
b=(input("enter the second number"))

print("a>b :",a>b)
print("a<b :",a<b)
print("a>=b :",a>=b)
print("a<=b :",a<=b)
print("a==b :",a==b)
print("a!=b :",a!=b)

SyntaxError: invalid syntax (<ipython-input-4-3515d4fc7221>, line 10)

In [6]:
if (0 and 20):
    print("Hello")

In [7]:
a,b=10,20
x=30 if a<b else 40
print(x)

30

In [8]:
x=10
x+=10
print(x)

20

In [9]:
# write a program to find a arera of a triangle 
x= int(input("enter the base of a triangle"))
y= int(input("enter the hieght of a triangle"))
z=(1/2)*x*y
print(z)

enter the base of a triangle5
enter the hieght of a triangle2
5.0

In [10]:
# write a program to find area of a circle 
import math
p=math.pi
r=float(input("enter the radius of the circle"))
area=p*(r**2)
print(area)

enter the radius of the circle2.5
19.634954084936208

In [11]:
f=float(input("enter the farenhit value"))
c=(f-32)*(5/9)
print(c)

enter the farenhit value410
210.0

In [13]:
c=float(input("enter the farenhit value"))
f=(c*9/5) +32
print(f)

enter the farenhit value121
249.8

In [18]:
days=int(input("enter number of day"))
year=days//365
month=(days%365)//30
remaingdays=(days%365)%30
print("year ",year," month ",month,"remaing days ",remaingdays )

enter number of day427
year  1  month  2 remaing days  2

In [1]:
a=20
b=10
c=30
print(a>b and a>c)
print(a>b or a>c)
print(not a>b)
print(not a>c)

False
True
False
True

In [2]:
x=5
y=5.3
z=5
print(type(x) is int)
print(type(y) is int)
print(type(z) is float)
print(x is z)
print(x is not y)

True
False
False
True
True

In [5]:
print((5**3)**2*5/True)

78125.0

In [8]:
print("1" in "123" and "False")
True and "False"

False

'False'

In [10]:
True and "False"

'False'

In [17]:
print(5 and False or )

False

print(5 and True or 0/0)

In [20]:
#write aprogram to check given number is positive or negative using condition operation
x=int(input("enter the number"))
b="negative" if x<0 else "postive"
print(b)

enter the number2
postive

In [21]:
#write aprogram to check given number is odd or even using condition operation
x=int(input("enter the number"))
b="even" if x%2==0 else "odd"
print(b)

enter the number5
odd

In [24]:
# write a python program to find number of notes against a given amount
paisa=int(input("enter the amount"))
r500=paisa//500
r200=paisa%500//200
r100=paisa%500%200//100
r50=paisa%500%200%100//50
r20=paisa%500%200%100%50//20
r10=paisa%500%200%100%50%20//10
print("500 notes ",r500," 200 notes ",r200," 100 notes ",r100," 50 notes ",r50," 20 notes ",r20," 10 notes ",r10)

enter the amount510
500 notes  1  200 notes  0  100 notes  0  50 notes  0  20 notes  0  10 notes  1